@page
@model ProShopPlus.Pages.Lessons.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Lesson</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Lesson.ContactID" class="control-label"></label>
                <select asp-for="Lesson.ContactID" class ="form-control" asp-items="ViewBag.ContactID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Lesson.StartDate" class="control-label"></label>
                <input asp-for="Lesson.StartDate" class="form-control" />
                <span asp-validation-for="Lesson.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lesson.Coach" class="control-label"></label>
                
                <select asp-for="Lesson.Coach" class="form-control" placeholder="select coach">
                    <option selected disabled>Please select</option>
                    <option>Richard</option>
                    <option>Steve</option>
                    <option>Denise</option>
                    <option>Seb</option>
                    <option>Other</option>

                </select>
                <span asp-validation-for="Lesson.Coach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lesson.Plan" class="control-label"></label>
                <select asp-for="Lesson.Plan" class="form-control">
                    <option selected disabled>Please select</option>
                    <option>30m Silver</option>
                    <option>30m Gold</option>
                    <option>1hr Silver</option>
                    <option>1hr Gold</option>
                    <option>Custom</option>

                </select>
                <span asp-validation-for="Lesson.Plan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lesson.Note" class="control-label"></label>
                <input asp-for="Lesson.Note" class="form-control" />
                <span asp-validation-for="Lesson.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lesson.Paid" class="control-label"></label>
                <select asp-for="Lesson.Paid" class="form-control">
                    <option>False</option>
                    <option>True</option>

                </select>
                
                <span asp-validation-for="Lesson.Paid" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Lesson.Complete" class="control-label"></label>
                <select asp-for="Lesson.Complete" class="form-control">
                    <option>False</option>
                    <option>True</option>
                    
                </select>
                
                <span asp-validation-for="Lesson.Complete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
