@page
@model ProShopPlus.Pages.Orders.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Order.ID" />
            <div class="form-group">
                <label asp-for="Order.ContactID" class="control-label"></label>
                <select asp-for="Order.ContactID" class="form-control" asp-items="ViewBag.ContactID"></select>
                <span asp-validation-for="Order.ContactID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.StartDate" class="control-label"></label>
                <input asp-for="Order.StartDate" class="form-control" />
                <span asp-validation-for="Order.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.OrderDate" class="control-label"></label>
                <input asp-for="Order.OrderDate" class="form-control" />
                <span asp-validation-for="Order.OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.EstimatedDate" class="control-label"></label>
                <input asp-for="Order.EstimatedDate" class="form-control" />
                <span asp-validation-for="Order.EstimatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.ArrivedDate" class="control-label"></label>
                <input asp-for="Order.ArrivedDate" class="form-control" />
                <span asp-validation-for="Order.ArrivedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Brand" class="control-label"></label>
                <input asp-for="Order.Brand" class="form-control" />
                <span asp-validation-for="Order.Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Product" class="control-label"></label>
                <input asp-for="Order.Product" class="form-control" />
                <span asp-validation-for="Order.Product" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.OrderCode" class="control-label"></label>
                <input asp-for="Order.OrderCode" class="form-control" />
                <span asp-validation-for="Order.OrderCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Cost" class="control-label"></label>
                <input asp-for="Order.Cost" class="form-control" />
                <span asp-validation-for="Order.Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Paid" class="control-label"></label>
                <input asp-for="Order.Paid" class="form-control" />
                <span asp-validation-for="Order.Paid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Balance" class="control-label"></label>
                <input asp-for="Order.Balance" class="form-control" />
                <span asp-validation-for="Order.Balance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Progress" class="control-label"></label>
                <input asp-for="Order.Progress" class="form-control" />
                <span asp-validation-for="Order.Progress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
