@page "{id?}"
@model ProShopPlus.Pages.Repairs.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Repair</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Repair.ID" />
            <div class="form-group">
                <label asp-for="Repair.ContactID" class="control-label"></label>
                <select asp-for="Repair.ContactID" class="form-control" asp-items="ViewBag.ContactID">
                    <option selected disabled>Please select</option>
                </select>
                <span asp-validation-for="Repair.ContactID" class="text-danger"></span>
                <a asp-page="/Contacts/Edit">Add Contact</a>
            </div>
            <div class="form-group">
                <label asp-for="Repair.StartDate" class="control-label"></label>
                <input asp-for="Repair.StartDate" class="form-control" />
                <span asp-validation-for="Repair.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Repair.TargetDate" class="control-label"></label>
                <input asp-for="Repair.TargetDate" class="form-control" />
                <span asp-validation-for="Repair.TargetDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Repair.Type" class="control-label"></label>
                <input asp-for="Repair.Type" class="form-control" />
                <span asp-validation-for="Repair.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Repair.Component" class="control-label"></label>
                <textarea asp-for="Repair.Component" class="form-control"></textarea>
                <span asp-validation-for="Repair.Component" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Repair.Description" class="control-label"></label>
                <textarea asp-for="Repair.Description" class="form-control"></textarea>
                <span asp-validation-for="Repair.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Repair.Cost" class="control-label"></label>
                <input asp-for="Repair.Cost" class="form-control" />
                <span asp-validation-for="Repair.Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Repair.Paid" class="control-label"></label>
                <select asp-for="Repair.Paid" class="form-control">
                    <option selected disabled>Select Option</option>
                    <option>NO</option>
                    <option>DEPOSIT</option>
                    <option>YES</option>
                </select>
                <span asp-validation-for="Repair.Paid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Repair.Balance" class="control-label"></label>
                <input asp-for="Repair.Balance" class="form-control" />
                <span asp-validation-for="Repair.Balance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Repair.Progress" class="control-label"></label>
                <select asp-for="Repair.Progress" class="form-control">
                    <option>[1] New</option>
                    <option>[2] Part Pending</option>
                    <option>[3] Part Available</option>
                    <option>[4] Working</option>
                    <option>[5] Complete</option>
                    <option>[6] Contacted</option>
                    <option>[7] Collected</option>
                </select>
                <span asp-validation-for="Repair.Progress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

<hr />

<div class="container mt-4">
    <input type="text" class="form-control" placeholder="Search name..." list="fruitList"/>
</div>


<datalist id="fruitList">
    <option value="Apple"></option>
    <option value="Banana"></option>
    <option value="Mango"></option>
    @foreach(var item in Model.ContactList)
    {
        <option value="@item.ID" label="@item.Name"></option>
    }

</datalist>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
