@page
@model ProShopPlus.Pages.Repairs.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Repair</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Repair.ID" />
            <div class="form-group">
                <label asp-for="Repair.ContactID" class="control-label"></label>
                <select asp-for="Repair.ContactID" class="form-control" asp-items="ViewBag.ContactID"></select>
                <span asp-validation-for="Repair.ContactID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Repair.StartDate" class="control-label"></label>
                <input asp-for="Repair.StartDate" class="form-control" />
                <span asp-validation-for="Repair.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Repair.TargetDate" class="control-label"></label>
                <input asp-for="Repair.TargetDate" class="form-control" />
                <span asp-validation-for="Repair.TargetDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Repair.Type" class="control-label"></label>
                <input asp-for="Repair.Type" class="form-control" />
                <span asp-validation-for="Repair.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Repair.Component" class="control-label"></label>
                <input asp-for="Repair.Component" class="form-control" />
                <span asp-validation-for="Repair.Component" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Repair.Description" class="control-label"></label>
                <input asp-for="Repair.Description" class="form-control" />
                <span asp-validation-for="Repair.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Repair.Cost" class="control-label"></label>
                <input asp-for="Repair.Cost" class="form-control" />
                <span asp-validation-for="Repair.Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Repair.Paid" class="control-label"></label>
                <input asp-for="Repair.Paid" class="form-control" />
                <span asp-validation-for="Repair.Paid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Repair.Balance" class="control-label"></label>
                <input asp-for="Repair.Balance" class="form-control" />
                <span asp-validation-for="Repair.Balance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Repair.Progress" class="control-label"></label>
                <input asp-for="Repair.Progress" class="form-control" />
                <span asp-validation-for="Repair.Progress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
