@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Pro Shop Plus</h1>
    
</div>



<div class="text-center">
    <a class="btn-primary btn-lg d-grid" asp-area="" asp-page="/Contacts/Index">Contacts</a>
    <a class="btn-warning btn-lg d-grid" asp-area="" asp-page="/Repairs/Index">Repairs</a>
    
</div>
